# Dependências
node_modules/

# Banco de dados local (SQLite)
database.sqlite
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
